.root {
    -fx-background-color: white;
}

#side-bar {
    -fx-border-left-width: "1px";
    -fx-border-color: lightgray;
}

.side-bar-section {
    -fx-border-width: 0 0 1 0;
    -fx-border-color: gray;
}

#entry-name-text, #setpoint-text {
    -fx-font: 14px Lato;
}

.label, .text-field, .button {
    -fx-font-family: "Lato";
    -fx-font-size: 14px;
}

.button {
    -fx-background-color: rgb(20,20,20);
    -fx-text-fill: white;
    -fx-border-radius: 0;
}

.green {
    -fx-background-color: rgb(0, 230, 111);    
}

.red {
    -fx-background-color: firebrick;
}
